.display-card-2 {
  align-items: center;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.display-card-round-bottom-left{
  border-radius: 0px 0px 0px 20px;
}

.display-card-round-bottom-right{
  border-radius: 0px 0px 20px 0px;
}

