@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Teko:400");

@font-face {
    font-family: "Arboria-Medium";
    font-style: normal;
    font-weight: 300;
    src: url(".34864.otf") format("opentype");
  }

  @font-face {
    font-family: "Arboria-Light";
    font-style: normal;
    font-weight: 300;
    src: url(".34860.otf") format("opentype");
  }

:root {
    --background: #ffffff;
    --card-background: #eef6fb;
    --text: #333339;
    --selected-nav-text: #5FB0E8;

    --font-size-l: 37px;
    --font-size-m: 30px;
    --font-size-xl: 45px;
    --font-size-xxl: 49px;
    --font-size-xxxl: 118px;
    --font-size-xxxl-1: 72px;

    --font-family-arboria-light: "Arboria-Light", Helvetica;
    --font-family-arboria-medium: "Arboria-Medium", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-teko: "Teko", Helvetica;
}

.montserrat-light-onyx-30px {
    color: var(--text);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 300;
}

.teko-normal-onyx-49px {
    color: var(--text);
    font-family: var(--font-family-teko);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
}

.arboria-medium-onyx-45px {
    color: var(--selected-nav-text);
    font-family: var(--font-family-arboria-medium);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1.44px;
}

.arboria-light-onyx-45px {
    color: var(--text);
    font-family: var(--font-family-arboria-light);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 300;
}

.montserrat-light-onyx-37px {
    color: var(--text);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 300;
}