.current-weather-panel-container{
  display: flex;
  height: 60%;
}

.future-weather-panel-container{
  display: flex;
  height: 40%;
}


.weather-panel {
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 5px 10px 99px 
  #00000029;
    height: 689px;
    left: 0;
    top: 0;
    width: 970px;
    padding: 5px;
  }