.current-panel {
  align-items: center;
  background-color: var(--card-background);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0px 0px 5px 0px;
  justify-content: center;
}

.flex-row {
  align-items: center;
  display: flex;
  margin-top: 10px;
  position: relative;
}

.overlap-group {
  margin-left: 30px;
  position: relative;
  width: 132px;
}

.temperature-panel-current{
  margin-bottom: -25.5px;
  margin-right: -2px;
  white-space: nowrap;
}