.temperature-future {
  color: var(--text);
  font-family: var(--font-family-teko);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.69px;
}

.temperature-current {
  color: var(--text);
  flex: 1;
  font-family: var(--font-family-teko);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}